
/* the styling about why choose us  */

/* why we   */

main .whywe {
    width: 90%;
    height: 90vh;
    margin: auto;
    padding: 5% 0 0;
    background-color: var(--dark-gray);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    /* z-index: -2; */
}

main .whywe .left{
    width: 100%;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
}
main .whywe .left .image{
    width: 80%;
    height: 70%;
    background-image: url("/whywe.png");
    background-size: contain;
    background-repeat: no-repeat;   
}
main .whywe .right{
    background-color: var(--dark-gray);
    background-color: var(--light-gray);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .whywe .right h2 {
    width: 50%;
    display: flex;
    align-self: center;
    font-size: 3rem;
    color: var(--primary-green);
}

main .whywe .right p {
    color: var(--white);
    font-size: 1rem;
    margin: 2rem 10rem;
    color: var(--offf-white);
    text-align: center;
    line-height: auto;
}


main .whywe .right button {
    /* width: 15%; */
    border-radius: 2rem;
    outline: none;
    border: none;
    display: flex;
    align-self: center;
    padding: 1% 2%;
    font-size: 1.1rem;
    font-weight: 600;
}
main .whywe .right button:hover {
    color: var(--dark-gray);
    transition: 0.2s;
    cursor: pointer;
}
main .whywe .right button:active {
    transform: scale(0.95);
    color: rgb(40, 40, 40);
}
