header{
    width: 100%;
    background-color: rgb(49, 49, 49);
    color: aliceblue;
}

header .nav{
    width: 100%;
    padding: 0 5%;
}

header .nav,
header .nav .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header .nav .nav-links.navLink {
    color: black;
}

header .nav > a,
header .nav ul li a{
    font-size: 2.7rem;
    margin: 1.1rem;
    font-weight: 700;
    text-decoration: none;
    color: aliceblue
}
header .nav a span{
    color: green;
    color: var(--primary-green);
}

header .nav ul li{
    list-style-type: none;
}
header .nav ul li a{
    font-size: 1.5rem;
    font-weight: 200;
}
header .nav ul li a:hover {
    cursor: pointer;
    color: var(--primary-green);
}

header .nav > i{
    font-size: 1.8rem;
    cursor: pointer;
}

header .nav .fa-bars{
    display: none;
}
header .nav .fa-xmark{
    display: none;
}


header .nav > i:hover{
    color: green;
    color: var(--primary-green);
}


/* search box  */
.nav .search-box {
    position: absolute;
    top: 2%;
    left: 30%;
    background-color: whitesmoke;
    width: 40% ;
    width: 50%;
    height: 3.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    opacity: 0;
    pointer-events: none;

}

.nav.openSearch .search-box {
    opacity: 1;
    pointer-events: auto;
}

.nav .search-box i {
    font-size: 2rem;
    padding: 0 0 0 1rem;
    color: rgb(1, 216, 1);
}

.nav .search-box input {
    width: 100%;
    height: 90%;
    margin: 0 1rem;
    font-size: 1.2rem;
    background-color: whitesmoke;
    outline: none;
    border: none;
}


/*   css of nav bar ends here   */












/* media queries          */

@media screen and (max-width: 1400px) {
    header{
        background-color: rgb(40, 40, 40);
    }
    
    header .nav > a {
        font-size:2.3rem ;
    }

    header .nav .nav-links {
        justify-content: space-evenly;
        background-color: rgb(30, 30, 30);
        position: absolute;
        top: 9%;
        left: 0;
        width: 100%;
        border-top: 2px solid rgba(255, 255, 255, 0.6);
        border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    }
    
    header .nav ul {
        padding: 0.5%;
    }
    
    header .nav ul li a{
        font-size: 1.15rem;
    }
    header .nav .nav-links li i{
        display: none;
    }
    
    .nav .search-box {
        opacity: 1;
        pointer-events: auto;
        left: 40%;
        width: 50%;
        height: 2.75rem;
    }
    .nav .search-box i {
        font-size: 1.5rem;
    }
    
    header .nav > i{
        display: none;
    }
    
}




@media (max-width: 1000px){
    .nav .search-box {
        top: 2.2%;
        left: 35%;
        width: 50%;
        opacity: 1;
    }
    
    header .nav .nav-links {
        border-left: 2px solid rgba(255, 255, 255, 0.6);
        border-radius: 10px;
    }

    header .nav .openBtn{
        display: inline-block;
        font-size: 1.6rem;
        margin: 0.4em 0 0 0;
    }
    
    header .nav ul li .closeBtn{
        display: inline-block;
        position: absolute;
        right: 10.3%;
        top: 5%;
        font-size: 1.6rem;
        color: var(--primary-green);
        cursor: pointer;
    }
    header .nav .closeBtn:active{
        transform: scale(0.92);
        color: var(--primary-green);
    }
    
    
    header .nav .nav-links {
        flex-direction: column;
        left: 99%;
        display: inline-block;
    }
    .nav.openLinks .nav-links {
        left: 5%;
    }
    .nav.closeLinks .nav-links {
       left: 80%;
    } 
    
   
    header .nav ul {
        padding: 0.5%;
    }
    
/*     
    .nav-links li:nth-of-type(1) + li a {
        background-color: rgb(20, 20, 20);
    } */

    header .nav ul li {
        display: flex;
    }


    header .nav ul li a{
        font-size: 1.25rem;
        font-weight: 300;
        display: flex;
        align-self: center;
        margin: 0.4rem 1%;
        padding: 0.25% 0.9%;
        border-radius: 3px;
    }
    
    header .nav ul li a:hover{
        background-color: rgb(20, 20, 20);
    }

    header .nav ul li a:active{
        transform: scale(0.95);
    }
} 





/* from 600 to 700  */
@media (max-width:700px) {
    header .nav {
        padding: 0 1.5rem;
    }
    header .nav > a{
        font-size: 1.2rem;
        margin: 1rem 0;
    }

    header .nav .nav-links {
        display: none;
    }

    header .nav .fa-bars {
        display: none;
    }

    header .nav .search-box{
        width: 40%;
        height: 1.8rem;
        top: 1.5%;
        left: 18%;
    }

    header .nav .search-box i {
        padding: 0 0 0 0.5rem;
        font-size: 1.3rem;
    }

    header .nav .search-box input {
        font-size: 1.1rem;
        margin: 0 0.5rem;
    }

}


/* from 500 to 600  */
@media (max-width:600px) {
    
    header .nav > a{
        font-size: 1.3rem;
    }

    header .nav .search-box{
        width: 40%;
        height: 1.8rem;
        top: 1.65%;
        left: 25%;
    }
        header .nav .search-box i {
        padding: 0 0 0 0.5rem;
        font-size: 1.3rem;
    }
        header .nav .search-box input {
        font-size: 1.1rem;
        margin: 0 0.5rem;
    }

}


/* from 400 to 500  */
@media (max-width:500px) {
    header .nav {
        padding: 0 1.5rem;
    }
    header .nav > a{
        font-size: 1.6rem;
        margin: 1.3rem 0;
    }

    header .nav .search-box{
        width: 40%;
        height: 2rem;
        top: 2.4%;
        left: 34%;
    }
    header .nav .search-box i {
        padding: 0 0 0 0.5rem;
        font-size: 1.3rem;
    }
    header .nav .search-box input {
        font-size: 1.1rem;
        margin: 0 0.5rem;
    }

}