*{
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 200 to 1000  */
/*  */
/* .nunito-<uniquifier> { */
/* font-optical-sizing: auto; */
/* font-weight: <weight>; */
/* font-style: normal; */
/* } */
body {
    background-color: var(--dark-gray);
    --primary-green: rgb(8, 218, 148);
    --dark-gray: rgb(80, 80, 80);
    --light-gray: rgb(110, 110, 110);
    --white: aliceblue;
    --offf-white: rgb(204, 211, 202);
    
    
}
header{
    width: 100%;
    height: 10vh;
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    color: var(--white);
}
header nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav .heading {
    font-size: 1.75rem;
}
header .heading span{
    color: var(--primary-green);
}

header nav .pages {
    width: 35%;
    font-weight: 300;
    font-size: 1.25rem;
}

header nav .pages ul {
    display: flex;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header nav .pages ul li{
    width: 14%;
    text-decoration: none;
}
header nav .pages ul li a{
    color: var(--white);
    width: 100%;
    text-decoration: none;
}
header nav .pages ul li a{
    width: 150%;
}


header nav .pages ul li a {
    position: relative;
}

header nav .pages ul li a::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-green);
    transform-origin: center;
    transform: translate(-50%, 0) scaleX(0);
    transition: transform 0.3s ease-in-out;
}

header nav .pages ul li a:hover::before {
    transform: translate(-50%, 0) scaleX(1);
}




header .new-page {
    width: 6%;
    font-size: 1.5rem;
    font-weight: 200;
}
header .new-page a{
    color: var(--white);
    text-decoration: none;
}
header .new-page i{
    font-size: 1.5rem;
    margin-right: 2%;
}
header .new-page i:hover{
    color: var(--primary-green);
    transition: 0.3s ease;
    cursor: pointer ;
}




header .new-page a{
    position: relative;
}
header .new-page a::before,   header .new-page a::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: var(--white);
    transform-origin: center;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.4s ease;
}
header .new-page a::before {
    top: 0;
} 
header .new-page a::after {
    bottom: 0;
}
header .new-page a:hover::before,   header .new-page a:hover::after {
    transform: translateX(-50%) scaleX(1);
}

/* the styling about header ends here  */

main .home-page {
    width: 100%;
    height: 95vh;
    background-color: var(--white); 
    background-color: var(--dark-gray);
}

main .home-page .upper {
    width: 85%;
    height: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main .home-page .upper .title {
    width: 20%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   
main .home-page .upper .title h2 {
    font-size: 5rem;
    color: var(--white);
}
main .home-page .upper .title h2 span{
    color: var(--primary-green);
}
main .home-page .upper .title button {
    background-color: none;
    outline: none;
    border: none;
    border-radius: 2.5rem;
    padding: 1rem;
    margin-top: 20%;
    font-size: 1.1rem;
    font-weight: 600;
}
main .home-page .upper .title button:hover {
    color: var(--dark-gray);
    transition: 0.2s;
}
main .home-page .upper .title button:active {
    transform: scale(0.95);
    color: rgb(40, 40, 40);
}
main .home-page .upper .home-image {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:end
}
main .home-page .upper .home-image .image{
    width: 60%;
    height: 100%;
    background-image: url("/home-image.png");
    background-size: contain;
    background-repeat: no-repeat;

}

/* the styling about boxes starts here  */

main .home-page .info-boxes {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
main .home-page .info-boxes .info-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    background-color: var(--light-gray);
    padding: 2%;
    border-radius: 0.5rem;
}
main .home-page .info-boxes .info-box:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

main .home-page .info-boxes .info-box h2{
    font-size: 2rem;
    color: var(--white);
}
main .home-page .info-boxes .info-box i{
    color: var(--primary-green);
    font-size: 4rem;
    display: grid;
    grid-row: 1/3;
}
main .home-page .info-boxes .info-box p{
    display: grid;
    grid-column: 2/3;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 300;
}

/* the styling abou why choose us  */

/* why we   */

main .whywe {
    width: 90%;
    height: 90vh;
    margin: auto;
    padding: 5% 0 0;
    background-color: var(--dark-gray);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    /* z-index: -2; */
}

main .whywe .left{
    width: 100%;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
    /* background-color: antiquewhite; */
}
main .whywe .left .image{
    width: 80%;
    height: 70%;
    background-image: url("/whywe.png");
    background-size: contain;
    background-repeat: no-repeat;
    
}
main .whywe .right{
    background-color: var(--dark-gray);
    background-color: var(--light-gray);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .whywe .right h2 {
    width: 50%;
    display: flex;
    align-self: center;
    /* height: 5vh; */
    /* margin: auto; */
    font-size: 3rem;
    color: var(--primary-green);
}

main .whywe .right p {
    color: var(--white);
    font-size: 0.9rem;
    margin: 2rem 10rem;
    color: var(--offf-white);
    text-align: justify;
}


main .whywe .right button {
    width: 15%;
    border-radius: 1.5rem;
    outline: none;
    border: none;
    display: flex;
    align-self: center;
    padding: 1.5%;
    font-size: 1.1rem;
    font-weight: 600;
}
main .whywe .right button:hover {
    color: var(--dark-gray);
    transition: 0.2s;
}
main .whywe .right button:active {
    transform: scale(0.95);
    color: rgb(40, 40, 40);
}


/* this is about courses  */

main .courses {
    width: 90%;
    margin: auto;
    padding-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 5rem;
    row-gap: 3rem;
}
main .courses .box{
    /* width: 60%; */
    height: 40vh;
    background-color: var(--light-gray);
}
main .courses .box .image{
    width:100%;
    height: 25vh;
    background-image: url("/course1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
main .courses .box h2 {
    color: var(--offf-white);
    width:60%;
    padding: 1rem 0 0;
    margin: auto;
    font-size: 1.5rem;
}
main .courses .box p {
    color: var(--offf-white);
    font-size: 0.9rem;
    width: 80%;
    margin: auto;
}
